<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') -%>

<body>
    <%- include('partials/nav.ejs')-%>

    <div class="container mt-5 ">
        <div class="row">
            <div class="col-md-4">
                <form action="new-entry" method="post" class="card card-body">
                    <div class="form-group">
                        <input type="text" name="title" placeholder="titulo" class="form-control" autofocus required>
                    </div>

                    <div class="form-group">
                        <input type="text" name="author" placeholder="author" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="image" placeholder="http://website.com" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea name="description"  rows="2" class="form-control" placeholder="description"></textarea>
                    </div>
                       <button type="submit" class="btn btn-primary btn-block">save</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>